.thanksPanel {
  background-color: #1e242e;
  padding: 30px;
  border-radius: 20px;
  width: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 24px;
  }
  &__description {
    color: #77818a;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
  }

  &__button {
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
    font-size: 14px;
    margin-top: 30px;

    padding: 7px 15px;
    border: none;
    border-radius: 40px;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: hsl(25, 97%, 53%);
    }
  }
}
